@import './../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './header/header.css';
@import './main-content/main-content.css';
@import './sidebar/sidebar.css';
@import './../../node_modules/prismjs/themes/prism.css';
@import './../../node_modules/@boldreports/javascript-reporting-controls/Content/material/bold.reports.all.min.css';


/* loader */
.splash {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.message {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.loader {
  margin: auto;
  width: 70px;
  text-align: center;
}

.loader>div {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
      -webkit-transform: scale(0);
  }

  40% {
      -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }

  40% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

/* body */

.e-hidden {
  display: none;
}

body {
  margin: 0;
  background-color: #F2F2F2;
  font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
}

:focus {
    outline: none;
}

@font-face {
  font-family: 'ejicons';
  src: url('./../../assets/sb-icons/fonts/icons.ttf?gcjn6a') format('truetype'), url('./../../assets/sb-icons/fonts/icons.woff?gcjn6a') format('woff'), url('./../../assets/sb-icons/fonts/icons.svg?gcjn6a#sbicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ej-sb-icons {
  font-family: 'ejicons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ej-webicon {
  font-family: 'ej-webfont';
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* common */
.ej-main-parent-content {
  position: absolute;
  left: 0;
  top: 48px;
  bottom: 0;
  right: 0;
  transition: left 400ms ease;
}

.ej-main-child-content {
  position: absolute;
  left: 170px;
  bottom: 0;
  right: 0;
  top: 0;
  transition: left 400ms ease;
  overflow: hidden;
}

.mobile-overlay {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000005;
}

.ej-overlay {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: transparent;
  z-index: 1000006 !important;
}

.e-reportviewer-waitingpopup {
  z-index: 1000004 !important;
}

.mobile-overlay.e-hidden {
  display: none;
}

ej-header {
  display: block;
}

ej-sidebar {
  position: absolute;
  background-color: #fff;
  width: 170px;
  display: block;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  overflow-y: auto;
  transition: left 400ms ease;
}

.ej-toc-slide-left {
  left: -170px;
}

@media only screen and (max-width: 550px) {
  ej-sidebar {
    position: fixed;
    z-index: 1000005;
    left: -170px;
    background-color: #f8f8f8;
  }

  ej-sidebar.ej-toc-mobile-slide-left {
    left: 0;
  }

  .ej-main-child-content {
    left: 0;
  }
}